---
import type { SiteConfig } from "@types";
import LinkedIn from "@icons/LinkedIn.astro";
import GitHub from "@icons/GitHub.astro";
import Email from "@icons/Email.astro";

type Props = Pick<SiteConfig, "author" | "socialLinks">;

const { author, socialLinks } = Astro.props;
const currentYear = new Date().getFullYear();

const iconMap: Record<string, any> = {
  GitHub,
  LinkedIn,
  Email,
};
---

<footer
  class="w-full border-t border-neutral/20 px-5 pt-5 pb-8 text-center text-white"
>
  <ul class="mt-5 flex flex-wrap justify-center gap-3 text-white">
    {
      socialLinks.map(({ text, href }) => {
        const Icon = iconMap[text];
        return (
          <li>
            <a href={href} target="_blank" class="inline-block hover:text-primary">
              {Icon ? <Icon /> : text}
            </a>
          </li>
        );
      })
    }
  </ul>
</footer>
