---
import type { HeroProps } from "@types";
import LinkedIn from "@icons/LinkedIn.astro";
import GitHub from "@icons/GitHub.astro";
import Email from "@icons/Email.astro";

type Props = HeroProps;

const { name, specialty, summary, email } = Astro.props;
---

<section class="py-24 md:py-32" id="#hero">
  <h1
    class="mb-1.5 font-serif text-7xl font-bold tracking-tightest text-white sm:text-8xl md:mb-0 md:text-9xl"
  >
    {name}
  </h1>
  <p
    class="mb-9 font-serif text-4xl leading-[46px] font-bold tracking-tighter text-primary sm:text-5xl md:text-6xl"
  >
    {specialty}
  </p>
  <p class="mb-16 text-base font-normal text-neutral md:text-lg">
    {summary}
  </p>
  <p class="mb-9 flex gap-3">
    <a href="https://github.com/ryanalvita" target="_blank" class="text-primary">
      <GitHub />
    </a>
    <a href="https://linkedin.com/in/ryanalvita" target="_blank" class="text-primary">
      <LinkedIn />
    </a>
    <a href="mailto:ryanalvita@gmail.com" class="text-primary">
      <Email />
    </a>
    <a
      class="block w-fit rounded-full bg-primary px-6 py-3 text-sm leading-5 font-medium ml-auto"
      href=`https://docs.google.com/document/d/144TKT-2DZ40VlDCRuPVfbtg5grNmhaHNyuDtIVsfh1Y/edit?usp=sharing`>My CV</a
    >
  </p>
</section>
